/* Use the descendant combinator to style <p> elements that are descendants of <div> elements, applying a specific font color. */
div p {
    color:blue;
}

/* Use the child combinator to style <li> elements that are direct children of <ul> elements, applying a unique list-style-type. */
ul > li {
    list-style-type: square;
}

/* Use the adjacent sibling combinator to style a <p> element that immediately follows another <p> element, changing its background color. */

p + p {
    background-color: rgb(207, 206, 204);
}

/* Use the general sibling combinator to style <span> elements that are siblings of a <p> element, changing their font weight. */
p ~ span {
    font-weight: bold;
}

span {
    color: red;
}